.loginForm {
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
    border: 2px solid #222f68;
    align-items: center;
    justify-content: center;
    
    height: 88vh; 
    width: 40vw;
    min-width: 320px;
    
    /* ADD THIS */
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}